<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.gon.kineapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".KineApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.activities.ViewPhotoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.CreateExerciseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.ViewVideoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.PrivateVideosActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.PublicVideosActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.PictureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.DashboardActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.EditPatientRoutineActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.PatientDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.SessionDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".ui.activities.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.TimeLineActivity"
            android:screenOrientation="portrait"/>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.gon.kineapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>

        <receiver android:name=".receivers.AlarmReceiver"
                  android:enabled="true"/>

        <receiver android:name=".receivers.BootReceiver"
                  android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
